doctype html
head
    title Wahoo Skate Co.
    meta(charset='UTF-8')
    script(src='resources/js/main.js')
    link(rel='stylesheet', type='text/css', href='resources/css/main.css')
    link#dark-css(rel='stylesheet', type='text/css', href='resources/css/main.dark.css')
body
    include nav.pug
    div#sale-div placeholder

    h1 Wahoo Skate Co.
    h2 We Wahoo, You Wahoo!
    img(src="/resources/images/NYC-skate-coalition.jpg", alt="NYC Pool Skate Photo", style='height:600px')

    div
        p Hey 
            | skaters, welcome to the Wahoo Skate Co&apos;s 
            strong brand 
            em new
            |  page! Here you&apos;ll find basically 
            anything
            | Wahoo Skate Co. related! 
            br
            |  For any other questions you can come in-store at:
            br
            strong 1234 Real Street, New York, New York
            br
            | or call us at 
            br
            strong (123) 456 - 7890
            br
        p We 
            | are constantly updating our selection so come in to find the most up-to-date items.
            br
            | We
            | carry from the most name-brand companies in skating including:
            br
        ol
            li Decks from: Baker, GX1000, Deathwish, and more!
            li Clothes from: Dickies, Carhartt, ...
            li Hardware from Independent, Spitfire, Swiss Redz, and anything else you can think of
