nav
    ul
        li
            a(href='/main') Main page 
            br
        li
            a(href='/testimonies') Hear What Clients Have to Say
            br
        li
            a(href='/contact') Get Private Lessons
            br
        li
            a(href='/admin/contactlog') Contact List
            br
        li
           button#dark-button(type='button') Dark 