doctype html 
head
    title You are booked! 
    meta(charset="UTF-8")
    link(rel='stylesheet', type='text/css', href='resources/css/main.css')
    link#dark-css(rel='stylesheet', type='text/css', href='resources/css/main.dark.css')
body 
    include nav.pug
    h1 Congrats! 
    h2 Your appointment has been booked!