doctype html 
head
    title Shoot!
    meta(charset="UTF-8")
    link(rel='stylesheet', type='text/css', href='resources/css/main.css')
    link#dark-css(rel='stylesheet', type='text/css', href='resources/css/main.dark.css')
body 
    include nav.pug
    h1 Whoa! 
    h2 Something went wrong processing your appointment,
    br
    | try again!
    //- FIX THIS